.method-wrapper {
  border-top: 1px solid rgba(0,0,0,0.05);
  padding: 1.25rem 0;
  margin: 1.25rem 0;
}

.method-wrapper:first-child {
  border-top: 0
}

h3.subsection-title {
  border-bottom: 0;
}
.sidebar>ul>li ul {
    border-left: 3px solid #0095dd;
    padding-left: 15px;
    height: 0;
    transition: all 250ms ease-in-out
}


.sidebar>ul>li.active ul {
    transition: all 250ms ease-in-out;
    height: auto;
    border-left: 3px solid #0095dd;
    padding-left: 15px;
}

.sidebar>ul>li ul li {
  display: none
}

.sidebar>ul>li.active ul li {
  display: list-item
}

.params, .props {
  border-top: 0;
  margin-left: 0;
  padding-left: 1.25rem;

  border-left: 1px solid rgba(0,0,0,0.2)
}

.params tbody {
  width: 100%;
}

table {
  display: inherit;
  table-layout: inherit;
}

table tbody td:last-child {
  border-right: none;
  /* width: 100% */
}

.params td, .params th, .props td, .props th {
  padding: 10px 16px;
}

p {
  max-width: 100%
}
h3 {
  text-transform: none;
  font-size: 1.5rem
}

blockquote {
  margin: 0.75rem 0 !important;
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-left: 1px solid goldenrod;
}
blockquote p {
  margin-bottom: 0;
}
.container ul {
  list-style-type: disc;
  padding-left: 40px;
}
footer {
  margin-left: 0;
}

footer .nav-offset {
  margin-left: 300px;
}

.container.main-content {
  min-height: calc(100vh - 160px)
}

body {
  min-height: 100vh;
  padding-top: 56px;
}
